In [ ]:
from datetime import datetime
import time
import math
import statistics

In [ ]:
nilai_siswa = [1,2,3,4,5,6,7,8,9,10]
total = 0 
counter = 0
while counter < len(nilai_siswa):
    total = total + nilai_siswa[counter]
    counter = counter + 1
total / len(nilai_siswa)

5.5

In [ ]:
statistics.mean(nilai_siswa)

5.5

In [ ]:
jumlah = 0 
for i in nilai_siswa: ##i adalah variabel sementara, jadi bebas mau dinamain apa aja dan cuma bisa dipake di dalam for loop
    jumlah = jumlah+i
jumlah

55

In [ ]:
for number in range(1,11):
    if number % 2 == 0:
        print(f'{number} adalah bilangan genap')
    else : 
        print(f'{number} adalah bilangan ganjil')

1 adalah bilangan ganjil
2 adalah bilangan genap
3 adalah bilangan ganjil
4 adalah bilangan genap
5 adalah bilangan ganjil
6 adalah bilangan genap
7 adalah bilangan ganjil
8 adalah bilangan genap
9 adalah bilangan ganjil
10 adalah bilangan genap

In [ ]:
data_ready = False
counter = 0
while True:
    if data_ready:
        print('data sudah ready')
        break
    else:
        counter = counter+1
        print(f'masih proses ke {counter}')
        if counter == 10:
            data_ready = True

masih proses ke 1
masih proses ke 2
masih proses ke 3
masih proses ke 4
masih proses ke 5
masih proses ke 6
masih proses ke 7
masih proses ke 8
masih proses ke 9
masih proses ke 10
data sudah ready

In [ ]:
for number in range(1,21):
    if number == 15:
        print('cukup sampe disini dulu')
        break
    if number % 2 == 0:
        print(f'{number} adalah bilangan genap')
    else : 
        print(f'{number} adalah bilangan ganjil')

1 adalah bilangan ganjil
2 adalah bilangan genap
3 adalah bilangan ganjil
4 adalah bilangan genap
5 adalah bilangan ganjil
6 adalah bilangan genap
7 adalah bilangan ganjil
8 adalah bilangan genap
9 adalah bilangan ganjil
10 adalah bilangan genap
11 adalah bilangan ganjil
12 adalah bilangan genap
13 adalah bilangan ganjil
14 adalah bilangan genap
cukup sampe disini dulu

In [ ]:
for number in range(1,21):
    if number % 2 == 0:
        print(f'{number} adalah bilangan genap')
    else : 
        continue ##skip yang ga sesuai dengan kondisi if diatas

2 adalah bilangan genap
4 adalah bilangan genap
6 adalah bilangan genap
8 adalah bilangan genap
10 adalah bilangan genap
12 adalah bilangan genap
14 adalah bilangan genap
16 adalah bilangan genap
18 adalah bilangan genap
20 adalah bilangan genap

In [ ]:
data_new = [i for i in range(200) if i % 2 == 0] #berlaku juga untuk set, tuple dan dict
data_new

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

In [ ]:
stars = ''
for i in range(5):
    stars = stars+'*'
print(stars)

*****

In [ ]:
stars = ''
for i in range(5):
    stars = stars+'*\n'
print(stars)

*
*
*
*
*

In [ ]:
stars= ''
size = 5
for i in range(size):
    for j in range(size):
        stars = stars+'*'
    stars=stars+'\n'
print(stars)

*****
*****
*****
*****
*****

In [ ]:
stars= ''
size = 5
size2 = 6
for i in range(size):
    for j in range(size):
        stars = stars+'*'
    stars=stars+'\n'
print(stars)

*****
*****
*****
*****
*****

In [ ]:
stars= ''
size = 5
for i in range(size):
    for j in range(1+i):
        stars = stars+'*'
    stars=stars+'\n'
print(stars)

*
**
***
****
*****

**SOAL**

In [ ]:
stars= ''
size = 5
for i in range(size):
    for j in range(size):
        stars = stars+'*'
    stars=stars+'\n'
    size = size-1
    if size == 1:
        size = 5
        for i in range(size):
            for j in range(i+1):
                stars = stars+'*'
            stars=stars+'\n'
        break
print(stars)

*****
****
***
**
*
**
***
****
*****

In [ ]:
stars= ''
size = 10
for i in range(1,size,2):
    for j in range(i):
        stars = stars+'*'
    stars=stars+'\n'
#size = size - 2
    if size == 10:
        for i in range(1,size,2):
            size = size - 2
            for j in range(i):
                stars = stars+'*'
            stars=stars+'\n'
print(stars)

*
*
***
*****
*******
*********
***
*****
*******
*********

In [ ]:
for i in range(9):
    if i < 5:
        stars = 2 * i + 1
    else:
        stars = 2 * (8 - i) + 1
    spaces = (9 - stars) // 2
    print(" " * spaces + "*" * stars)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
for i in range(5, 0, -1):
    print("*" * i)

# Segitiga menaik
for i in range(2, 6):
    print("*" * i)

*****
****
***
**
*
**
***
****
*****

In [ ]:
apel = 5
jeruk = 8
anggur = 8
stock_apel = 7
stock_jeruk = 7
stock_anggur = 6
harga_apel = apel*10000
harga_jeruk = jeruk*15000
harga_anggur = anggur*20000
total = harga_apel+harga_jeruk+harga_anggur